<section class="flex items-center justify-center flex-col h-screen">
  <form (submit)="handleSubmit()" class="w-96">
    <div class="w-full max-w-sm min-w-[200px] mb-4">
      <label htmlFor="name">
        Name:
        <input
          data-id="food-create-input-name"
          id="name"
          class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-blue-500 hover:border-blue-300 shadow-sm focus:shadow"
          type="text"
          placeholder="name"
          [(ngModel)]="formValues.name"
          [ngModelOptions]="{ standalone: true }"
        />
        <span
          data-id="food-create-error-input-name"
          class="text-sm text-red-600"
          >{{ formErrors.name }}</span
        >
      </label>
    </div>

    <div class="w-full max-w-sm min-w-[200px] mb-4">
      <label htmlFor="price">
        Price:
        <input
          data-id="food-create-input-price"
          id="price"
          class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-blue-500 hover:border-blue-300 shadow-sm focus:shadow"
          type="number"
          placeholder="price"
          [(ngModel)]="formValues.price"
          [ngModelOptions]="{ standalone: true }"
        />
        <span
          data-id="food-create-error-input-price"
          class="text-sm text-red-600"
          >{{ formErrors.price }}</span
        >
      </label>
    </div>

    <div class="w-full max-w-sm min-w-[200px] mb-4">
      <label htmlFor="category">
        Category:
        <input
          data-id="food-create-input-category"
          id="category"
          class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-blue-500 hover:border-blue-300 shadow-sm focus:shadow"
          type="text"
          placeholder="category"
          [(ngModel)]="formValues.category"
          [ngModelOptions]="{ standalone: true }"
        />
        <span
          data-id="food-create-error-input-category"
          class="text-sm text-red-600"
          >{{ formErrors.category }}</span
        >
      </label>
    </div>

    <button
      data-id="food-create-btn-create"
      class="rounded-md bg-blue-700 text-white p-2 mt-2 w-full"
      type="submit"
    >
      Cadastrar
    </button>
    <button
      data-id="food-details-btn-back"
      class="rounded-md bg-slate-800 hover:bg-slate-700 text-white p-2 w-full mt-8"
      (click)="handleBackNavigate()"
    >
      Voltar
    </button>
  </form>
</section>
